<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add xdt:Transform="Replace" key="ClientID" value="750383422693-7lnm4tk0eetqe0rmmurvcqav5h4993qk.apps.googleusercontent.com" />
    <add xdt:Transform="Replace" key ="Clientsecret" value="NpnKPhDjwS9B0HhNbKLOHo71"/>
  </appSettings>
  
  <connectionStrings>

    <add name="ContactDetailsContext" xdt:Transform="Remove" />
    <add name="ContactDetailsContext" 
      connectionString="Server=1ee70b25-34f5-49f6-8a8a-a7cc010790e7.sqlserver.sequelizer.com;Database=db1ee70b2534f549f68a8aa7cc010790e7;User ID=yiydvagvluceotrt;Password=ihDMwvu7vX6EwzgnLuohWvzRcE3BH55pam62tbAJ8bVadRBbQZGoGG7UQUKZA2xy;"
         providerName="System.Data.SqlClient" 
         xdt:Transform="Insert"/>
    
        <add name="DefaultConnection" xdt:Transform="Replace" 
         connectionString="Server=1ee70b25-34f5-49f6-8a8a-a7cc010790e7.sqlserver.sequelizer.com;Database=db1ee70b2534f549f68a8aa7cc010790e7;User ID=yiydvagvluceotrt;Password=ihDMwvu7vX6EwzgnLuohWvzRcE3BH55pam62tbAJ8bVadRBbQZGoGG7UQUKZA2xy;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
  </system.web>
</configuration>
